body{
    height: 100vh;
    position: relative;
    background-color: var(--color-main-background);
    font-family: 'Spartan', sans-serif;
}

.theme1{
    --color-main-background: hsl(222, 26%, 31%);
    --color-toggle-keypad-backgound: hsl(223, 31%, 20%);
    --color-screen-background: hsl(224, 36%, 15%);
    --color-del-reset-key-background: hsl(225, 21%, 49%);
    --color-del-reset-shadow: hsl(224, 28%, 35%);
    --color-equal-key-background: hsl(6, 63%, 50%);
    --color-equal-key-shadow: hsl(6, 70%, 34%);
    --color-toggle-key: hsl(6, 63%, 50%);
    --color-key-background: hsl(30, 25%, 89%);
    --color-key-shadow: hsl(28, 16%, 65%);
    --font-key: hsl(221, 14%, 31%);
    --font-special: hsl(0, 0%, 100%);
    --circle-justify: left;
    --font-res:white;
}
.theme2{
    --color-main-background: hsl(0, 0%, 90%);
    --color-toggle-keypad-backgound: hsl(0, 5%, 81%);
    --color-screen-background: hsl(0, 0%, 93%);
    --color-del-reset-key-background: hsl(185, 42%, 37%);
    --color-del-reset-shadow: hsl(185, 58%, 25%);
    --color-equal-key-background: hsl(25, 98%, 40%);
    --color-equal-key-shadow: hsl(25, 99%, 27%);
    --color-toggle-key: hsl(25, 98%, 40%);
    --color-key-background: hsl(45, 7%, 89%);
    --color-key-shadow: hsl(35, 11%, 61%);
    --font-key: hsl(60, 10%, 19%);
    --font-special: hsl(60, 10%, 19%);
    --circle-justify: center;
    --font-res: white;
}
.theme3{
    --color-main-background: hsl(268, 75%, 9%);
    --color-toggle-keypad-backgound: hsl(268, 71%, 12%);
    --color-screen-background: hsl(268, 71%, 12%);
    --color-del-reset-key-background: hsl(281, 89%, 26%);
    --color-del-reset-shadow: hsl(285, 91%, 52%);
    --color-equal-key-background: hsl(176, 100%, 44%);
    --color-equal-key-shadow: hsl(177, 92%, 70%);
    --color-toggle-key: hsl(176, 100%, 44%);
    --color-key-background: hsl(268, 47%, 21%);
    --color-key-shadow: hsl(290, 70%, 36%);
    --font-key: hsl(52, 100%, 62%);
    --font-special: hsl(52, 100%, 62%);
    --circle-justify: right;
    --font-res: black;
}
.calc-header {
    display: flex;
    justify-content: space-between;
    color: var(--font-special);
    align-items: end;
}
.theme-changer-box{
    width: 100px;
}
.theme-changer-label {
    width: 50%;
    float: right;
    display: flex;
    justify-content: space-between;
    font-size: small;
    font-weight: bold;
}
.theme-changer {
    width: 50%;
    float: right;
    background-color: var(--color-toggle-keypad-backgound);
    height: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    justify-content: var(--circle-justify);
    cursor: pointer;
}
.circle {
    width: 10px;
    height: 10px;
    background-color: var(--color-toggle-key);
    border-radius: 100%;
}
.calc{
    background-color:  var(--color-main-background);
    width: 60%;
    max-width: 420px;
    min-width: 320px;
    height: 90%;
    max-height: 580px;
    display: grid;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    grid-template-rows: 0.5fr 1.5fr 6fr;
    grid-gap: 1rem;
}
.inner{
    border-radius: 10px;
    padding: 6% 6%;
}
.inner1{
    background-color: var(--color-screen-background);
    font-size: 40px;
    color: var(--font-special);
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: top;
    padding-top: 2%;
    
}
.inner2{
    background-color: var(--color-toggle-keypad-backgound);
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 6%;
    grid-column-gap: 4%;
}
.special-key{
    color: hsl(0, 0%, 100%);
    grid-column: span 2;
    font-size: 32px;
    font-weight: 700;
    border-radius: 10px;
    border: none
}
.reset {
    background-color: var(--color-del-reset-key-background);
    box-shadow: 0px 5px var(--color-del-reset-shadow);
    font-size: 25px;

}
.result {
    background-color: var(--color-equal-key-background);
    box-shadow: 0px 5px var(--color-equal-key-shadow);
    color: var(--font-res);
}
.key {
    background-color: var(--color-key-background);
    color: var(--font-key);
    font-size: 25px;
    font-weight: 700;
    box-shadow: 0px 5px var(--color-key-shadow);
    border-radius: 10px;
    border: none;
}
.del {
    background-color: var(--color-del-reset-key-background);
    box-shadow: 0px 5px var(--color-del-reset-shadow);
    color: hsl(0, 0%, 100%);
}
button {
    cursor: pointer;
    font-family: inherit;
}
button:active {
    box-shadow: none;
    transform: translateY(10px);
}

.expression {
    font-size: 20px;                                                                                                                                                                    
    opacity: 0.5;
}
.curr-num {
    margin-top: auto;
    margin-bottom: auto;
}
span:empty::before {
    content: "\200b"; 
}
